<div class='selfblock-container'>
  <!--<div class="detail" (click)="goChargeDetail">明细</div>-->
  <button class="detail" mat-button>明细</button>
  <div class="title">我的钱包</div>
  <div class="subTitle"><span>钱包余额</span></div>
  <div class="money">￥{{totalMoney}}</div>
  <div class="btn-view">
    <button class="recharge-btn" mat-raised-button color="primary" routerLink="/recharge">去充值</button>
  </div>
</div>
<ngx-loading [show]="loading" [config]="config"></ngx-loading>
<ngx-toasta></ngx-toasta>
